<h1>サインアップ</h1>

<%= render partial: 'shared/errors_messages', locals: {object: @user} %>


<%= form_with model: @user, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :passowrd, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class='nav justify-content-end mt-5'>
    <%= f.submit '登録する', class: 'btn btn-primary' %>
  </div>
<% end %>