<h1><%= "#{@user.name}さんのプロフィール" %></h1>

<div class='mb-5'>
  <table class='tabel table-striped'>
    <tbody>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class='mb-5'>
  <p class='font-weight-bold'>自己紹介</p>
  <%= @user.introduction %>
</div>

<div>
  <table class='table mb-5'>
    <thead>
      <tr>
        <th>予定</th>
        <th>予定日時</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.label %></td>
          <td><%= meeting.start_time %></td>
          <td><%= link_to '詳細', meeting_path(meeting), class: 'btn btn-secondary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @meetings %>
</div>


