以下の内容を承認しました。

<ul>
  <li>ユーザー名:<%= @user.name %></li>
  <li>メールアドレス:<%= @user.email %></li>
  <li>予定日時:<%= @meeting.start_time %></li>
  <li>予定名:<%= @meeting.label %></li>
  <li>予定について:<%= @meeting.detail %></li>
</ul>